<!DOCTYPE html>
<html>
<head>
	<title>Feed</title>
	<link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Anton|Bree+Serif&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="<%=bootstrap%>">
	<style type="text/css">
		body
		{
			background-color :#34495E;
		}
		.navbar{ 
		    background-image: none;
		    background-color:#2C3E50;
		}	
		.navbar-brand mb-0 h1
		{
			color: white;
		}
		#nav_box
		{
			/*border: 2px solid red;*/
			display: flex;
 		 	justify-content: space-between;		
 		 	width: 100%;
 		 	background-color:#2C3E50;
 		 	padding: 0px;
		}
		a
		{
			color: white;
		}
		#my_club
		{
			font-size: 30px;
			margin-right: 25px;
			padding: 0px;
		}
		#host_text
		{
			font-size: 25px;
		}
		#feed_box
		{
			padding: 70px;
		}
		#feed_view
		{
			background-color: #2C3E50 ;
			padding :60px;
			padding-right: 150px;
			padding-left: 150px;
		}
		#feed_post
		{
			background-color: #F7F9F9;
			padding :60px;
			border-top-right-radius:15px;
			border-top-left-radius:15px;
			border-bottom-right-radius:15px;
			border-bottom-left-radius:15px;
			margin-bottom: 20px;
		}
		.show
		{
			/*border: 2px solid red;*/
		}
		#yolo
		{
			 display: flex;
			 padding-top: 35px;
  			justify-content: center;
		}
		#title_of_post
		{
			font-size: 30px;
			font-family: 'Anton', sans-serif;
			padding-left: 10px;
		}
		#motive_of_post_box
		{
			padding-left:10px; 
		}
		#motive_of_post
		{
			font-size: 20px;
			font-family: 'Anton', sans-serif;
			font-family: 'Bree Serif', serif;
		}
		input
		{
			font-family: 'Anton', sans-serif;
			font-family: 'Bree Serif', serif;
		}

	</style>

</head>
<body >
	<div id="nav_box">
		<nav class="navbar navbar-dark">
	  		<span class="navbar-brand mb-0 h1" id="my_club">VinnovateIT</span>
	  		<a href="/host" class="text-decoration-none" ><span id="host_text" class="nav-link">Host</span></a>
		</nav> 
	</div>
	<div id="feed_box">
		<div class="container" id="feed_view">
			<%for(var i=0 ; i<poopoo.length ; i++){%>
			<div class="container" id="feed_post">
					<form action="/feed/<%=poopoo[i].title%>" method="POST">
						<div class="row show">
							<p id="title_of_post"><%= poopoo[i].title %></p>
						</div>
						<div class="row show" id="motive_of_post_box">
							<p id="motive_of_post"><%= poopoo[i].motive %></p>
						</div>
							<div class="row show">
								<div class="col-lg-6 show" >
									<input type="radio"  value="contender1" name="contender">
									<label><%= poopoo[i].contender1 %></label>
								</div>
								<div class="col-lg-6 show"> 
									<input type="radio"  value="contender2" name="contender">		
									<label><%= poopoo[i].contender2 %></label> 
								</div>
							</div>
							<div class="row show">
								<div class="col-lg-6 show" >
									<input type="radio"  value="contender3" name="contender">
									<label><%= poopoo[i].contender3 %></label>
								</div>
								<div class="col-lg-6 show"> 	
									<input type="radio"  value="contender4" name="contender">
									<label><%= poopoo[i].contender4 %></label>
								</div>
							</div>
							<div class="row show" id="yolo">
								<button type="submit" class="btn btn-secondary btn-sm">Make it Count</button>
							</div>
							</form>
							<br>
							<br>
		
				</div>
			<%}%>		
		</div>
	</div>
	
</body>
</html>